<mat-toolbar color="primary">
</mat-toolbar>

<div class="wrapper">
  <mat-card>
    <mat-card-content>
      <img class="image" mat-card-image src="assets/images/jack.gif" alt="Image" />
    </mat-card-content>
    <mat-card-title class="title">Will you be my valentines? ❤️</mat-card-title>
    <mat-card-actions class="button">
      <button mat-raised-button routerLink="/celebrate">
        Yes
      </button>
      <button mat-raised-button routerLink="/rejection">
        No
      </button>
    </mat-card-actions>
  </mat-card>
</div>